* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input {
    border: none;
    outline: none;
    padding: 0;
}

.header {
    padding: 35px 10px;
    border-bottom: 2px solid #000;

    /* Todo: remove margin bottom once loader is added */
    margin-bottom: 60px;
}

.header__title {
    margin: 0;
    text-align: center;
    font-size: 30px;
}


.game-board {
    width: 90%;
    max-width: max-content;
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 14px;
}

.game-board__cell {
    width: 45px;
    height: 45px;
}

.game-board__cell__input {
    width: 100%;
    height: 100%;

    border: 3px solid #CCC;
    cursor: default;
    caret-color: transparent;
    font-size: 30px;
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;
}
